.menu-img{
    padding: 25px;
    border:1px solid black;
    height: 150px;
    border-radius: 10px;
}

.textPrincipal{
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.descripcion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0;
}



