.footer-contain{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-section{
    /* position: absolute; */
    width: 100%;
    height: 107px;
    background: #8D8C8C;
}

div > p{
    color:#ffffff;
    margin:15px 0 0 25px;
    font-weight: 500;
}